:root {
  --primary-color: #667eea;      
  --secondary-color: #764ba2;     
  --text-dark: #1a1a2e;         
  --text-gray: #4a5568;          
  --bg-light: #f7fafc;           
  
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  margin: 0;              
  padding: 0;             
  box-sizing: border-box; 
}


html {
  scroll-behavior: smooth; 
}


body {
  margin: 0;
  min-height: 100vh;      
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 
               'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
               'Helvetica Neue', sans-serif;

  

  overflow-x: hidden;
}


a {
  color: inherit;         
  text-decoration: none;  
}


img {
  max-width: 100%;       
  height: auto;          
  display: block;         
}


button {
  font-family: inherit;  
  cursor: pointer;        
  border: none;          
  background: none;   
}


ul, ol {
  list-style: none;      
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 600;     
  line-height: 1.2;      
}


p {
  line-height: 1.6;     
}


::selection {
  background: var(--primary-color);
  color: white;
}


::-moz-selection {
  background: var(--primary-color);
  color: white;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}